<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<!-- type alias -->
	<typeAliases>
		<typeAlias type="net.glaso.jwt.business.user.vo.UserVo" alias="userVo" />
		<typeAlias type="net.glaso.jwt.business.key.vo.KeyPairVo" alias="keyPairVo" />
	</typeAliases>
</configuration>